---
# This file contains sensitive data.
# Run 'ansible-vault encrypt inventory/group_vars/secret.yaml' after populating it.
# Store the password securely.

# Public IPs
gateway_ip: 85.215.234.172
control_plane_ip: 159.195.63.121

# Email for Let's Encrypt (Caddy)
email: admin@joluc.de

# Tailscale Auth Key (optional)
# tailscale_auth_key: "tskey-auth-..."
